$color-page: #009688;
$color-body: #efcc19;
$color-screen: #9ead86;
$color-cell: #879372;
$color-cell-active: #000;
$color-cell-highlight: #560000;
$color-border-dark: #987f0f;
$color-border-light: #fae36c;
$color-panel-border: #494536;

$sprite-url: '../assets/TB1qq7kNXXXXXacXFXXXXXXXXXX-400-186.png';

$app-width: 640px;
$rect-width: 480px;
$screen-width: 390px;
$screen-height: 478px;
$panel-width: 380px;
$panel-height: 468px;
